<div class="content-wrapper display-center">
  <span class="loading-icon" *ngIf="nowLoadingGetItem || nowLoadingGetRecommendations">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </span>
  <div *ngIf="!nowLoadingGetItem && !nowLoadingGetRecommendations">
    <div class="display-center">
        <p class="recommendations-separator headline-text">{{ item.name }}</p>
    </div>
    <div class="display-center">
      <app-item 
      [largeImage]="item.largeImage"
      [salePrice]="item.salePrice"
      [stock]="item.stock"
      [name]="item.name"
      [description]="item.longDescription"
      [itemClickable]="false"
      ></app-item>

    </div>
    <div class="display-center">
        <p class="recommendations-separator headline-text">--- Customers also bought these products ---</p>
    </div>
    <div>
      <div class="display-center" *ngIf="!recommendations">
          <p class="recommendations-separator headline-text">There are currently no recommendations for this item!</p>
      </div>  
      <div *ngIf="recommendations" class="recommendations-wrapper">
          <app-item *ngFor="let recommendation of recommendations"
          [largeImage]="recommendation.largeImage"
          [salePrice]="recommendation.salePrice"
          [stock]="recommendationstock"
          [name]="recommendation.name"
          [description]="recommendation.shortDescription"
          [itemClickable]="true"
          [itemId]="recommendation.itemId"
          [suggestedItem]="true"
          ></app-item>
      </div>
    </div>
  </div>
</div>
