<div class="item-wrapper">
  <div class="image-wrapper">
    <img class="display-image" [src]="largeImage">
  </div>
  <div class="item-text">
      <span class="item-name item-text">{{name}}</span>
  </div>
  <br/>
  <span class="item-pricing">{{ 'Price: $' + salePrice + ' <> ' + (stock === 'Available' ? 'In Stock' : 'Out of Stock') }}</span>
  <div class="item-text">
    <br/>
    <br/>
    <div [innerHTML]="longDescription === undefined ? shortDescription : longDescription" class="item-text"></div>
  </div>
</div>