.displayResults {
    display: flex;
    justify-content: center;
    padding-top: 18px;
}

.item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    cursor: pointer;
}