<div class="displayResults">
    <div *ngIf="searchTerm == undefined">
        <h2>
            Please enter an item to search for!
        </h2>
    </div>
    <div *ngIf="searchTerm != undefined">
        <span *ngIf="nowLoading">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </span>
        <div *ngIf="!nowLoading" class="item-wrapper">
            <app-item *ngFor="let item of searchResults" 
            [largeImage]="item.largeImage"
            [salePrice]="item.salePrice"
            [stock]="item.stock"
            [name]="item.name"
            [shortDescription]="item.shortDescription"></app-item>
        </div>
    </div>
</div>