.displayResults {
    display: flex;
    justify-content: center;
    padding-top: 18px;
}

.item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

:host>>> .mat-progress-spinner circle, .mat-spinner circle {
    stroke: rgba(4, 30, 66, 0.98);
}